<tr>
  <td><%= enrollment.subject_name %></td>
  <td><%= enrollment.section.teacher.full_name %></td>
  <td><%= days_of_week_display(enrollment.section_days_of_week) %></td>
  <td><%= enrollment.section_start_time.strftime("%I:%M %p") %></td>
  <td><%= enrollment.section_end_time.strftime("%I:%M %p") %></td>
  <td><%= enrollment.section_duration %> minutes</td>
  <td>
    <%= button_to 'Unenroll', student_enrollment_path(@student, enrollment), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
