<tr>
  <td><%= enrollment.subject.name %></td>
  <td><%= enrollment.section.teacher.full_name %></td>
  <td><%= enrollment.section.classroom.name %></td>
  <td><%= days_of_week_display(enrollment.section.days_of_week) %></td>
  <td><%= enrollment.section.start_time.strftime("%I:%M %p") %></td>
  <td><%= enrollment.section.end_time.strftime("%I:%M %p") %></td>
  <td><%= enrollment.section.duration %> minutes</td>
  <td>
    <%= button_to 'Unenroll', student_enrollment_path(@student, enrollment), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
